# System
.git
*.swp
*~
*.pyc
.DS_Store

# Intelij Idea
.idea
*.iml
*.ipr
*.iws

# Eclipse
.metadata
.settings

# Binary files
bin
build
lib
#*.pdf

# Hidden due to licencing or otherwise
ml_login_data.mat

